#### Carrega as variaveis de ambiente para executar o notebook

In [2]:
%load_ext dotenv
%dotenv

In [3]:
import pandas as pd
import os


# Obtem o historico de precos dos ativos

data_path = os.environ.get("RAW_DATA_PATH")
files = [file for file in os.listdir(data_path) if file.endswith("parquet")]

df = pd.read_parquet(f"{data_path}/{files[0]}")
df.reset_index(inplace=True, drop=True)
print(df.shape)
df.head(20)

(2473, 7)

   ticker   dt_price   open  close   high    low   volume
0   CPFE3 2012-09-03  17.74  18.12  18.30  17.55   638483
1   CPFE3 2012-09-04  17.97  17.95  18.24  17.70  1811700
2   CPFE3 2012-09-05  18.13  18.17  18.17  17.70   673535
3   CPFE3 2012-09-06  18.07  19.10  19.10  18.07  2233326
4   CPFE3 2012-09-10  19.04  18.76  19.04  18.60  1410439
5   CPFE3 2012-09-11  18.77  18.57  19.04  18.41  1663289
6   CPFE3 2012-09-12  18.36  18.32  18.48  17.47  2742104
7   CPFE3 2012-09-13  18.16  18.85  18.85  18.16  1094327
8   CPFE3 2012-09-14  18.84  19.30  19.49  18.43  1624261
9   CPFE3 2012-09-17  19.13  19.27  19.50  19.13   704977
10  CPFE3 2012-09-18  19.16  19.34  19.42  18.82   651948
11  CPFE3 2012-09-19  19.30  19.14  19.33  18.96   521839
12  CPFE3 2012-09-20  18.92  18.92  19.14  18.76   451171
13  CPFE3 2012-09-21  18.87  18.69  18.94  18.53  1107467
14  CPFE3 2012-09-24  18.66  18.82  18.82  18.57   970533
15  CPFE3 2012-09-25  18.90  18.77  19.01  18.62  1077759
16  CPFE3 2012-09-26  18.85  19.06  19.06  18.67   964983
17  CPFE3 2012-09-27  19.08  18.81  19.08  18.50   666920
18  CPFE3 2012-09-28  18.62  18.39  19.05  18.29   732017
19  CPFE3 2012-10-01  18.39  18.44  18.72  18.07   423166

In [4]:
from data_preparation import PreProcess

preProcess = PreProcess()
df_transposed = preProcess.transpose_columns(df, 20, 5)
df_transposed.shape

(491, 103)

In [5]:
df_transposed.tail(10)

,ticker,start_dt_price,end_{dt_column},open_0,open_1,open_2,open_3,open_4,open_5,open_6,...,volume_10,volume_11,volume_12,volume_13,volume_14,volume_15,volume_16,volume_17,volume_18,volume_19
481,CPFE3,2022-05-31,2022-06-28,35.28,34.25,34.97,36.28,35.41,34.06,34.30,...,4236600,5441700,3702500,1705300,1891000,1674200,1931500,2371400,1783300,1948100
482,CPFE3,2022-06-07,2022-07-05,34.06,34.30,34.06,32.77,31.52,31.76,32.66,...,1674200,1931500,2371400,1783300,1948100,1691500,1942500,1804600,1214900,1156800
483,CPFE3,2022-06-14,2022-07-12,31.76,32.66,32.25,33.46,33.88,32.31,32.08,...,1691500,1942500,1804600,1214900,1156800,2479100,1538300,1230200,1560900,1539200
484,CPFE3,2022-06-22,2022-07-19,32.31,32.08,31.70,30.91,31.58,31.48,30.50,...,2479100,1538300,1230200,1560900,1539200,1527700,1426900,1800700,2009500,1431400
485,CPFE3,2022-06-29,2022-07-26,31.48,30.50,30.88,32.08,30.96,30.51,30.97,...,1527700,1426900,1800700,2009500,1431400,3539700,1228000,1446900,906000,1955300
486,CPFE3,2022-07-06,2022-08-02,30.51,30.97,31.44,31.26,30.53,30.80,30.61,...,3539700,1228000,1446900,906000,1955300,1956500,1314300,1856600,1740500,1411100
487,CPFE3,2022-07-13,2022-08-09,30.80,30.61,31.17,31.80,31.87,31.67,32.36,...,1956500,1314300,1856600,1740500,1411100,1916200,2383300,1233500,2709100,1400300
488,CPFE3,2022-07-20,2022-08-16,31.67,32.36,32.14,32.30,32.67,31.77,32.11,...,1916200,2383300,1233500,2709100,1400300,1837400,2428300,2637400,1945400,1644300
489,CPFE3,2022-07-27,2022-08-23,31.77,32.11,32.50,33.23,33.05,32.50,32.39,...,1837400,2428300,2637400,1945400,1644300,5190000,2938600,1876200,1372300,1044700
490,CPFE3,2022-08-03,2022-08-30,32.50,32.39,33.53,33.29,33.75,33.88,33.94,...,5190000,2938600,1876200,1372300,1044700,1984100,1602600,1955600,2455200,2354600